parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$configuration of method TailwindMerge\\Factory\:\:withConfiguration\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/TailwindMergeServiceProvider.php

		-
			message: '#^Parameter \#1 \$name of method Illuminate\\View\\Compilers\\BladeCompiler\:\:directive\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/TailwindMergeServiceProvider.php

		-
			message: '#^Parameter \#1 \.\.\.\$args of method TailwindMerge\\Contracts\\TailwindMergeContract\:\:merge\(\) expects array\<array\<string\>\|string\>\|string, array\<int\|string, mixed\> given\.$#'
			identifier: argument.type
			count: 2
			path: src/TailwindMergeServiceProvider.php

		-
			message: '#^Parameter \#2 \.\.\.\$args of method TailwindMerge\\Contracts\\TailwindMergeContract\:\:merge\(\) expects array\<array\<string\>\|string\>\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/TailwindMergeServiceProvider.php

		-
			message: '#^Cannot call method merge\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/helpers.php

		-
			message: '#^Function twMerge\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/helpers.php
